<%- include("partials/header.ejs") %>



<div id="mainPrajire" class="container-fluid">
    <h1>Prajire in curs - <span><%= arrPrajeala[0].sortiment %></span> - <span><%= arrPrajeala[0].cantitate %>g</span> </h1>
    <h5><%= arrPrajeala[0].client %></h5>

    <!-- some kind of steps and a next button???? -->

      <p>Incalzeste cuptorul</p>
      <button class="btn">Next step</button>



    <button class="btn btn-lg">Success</button>
    <button class="btn btn-lg">Failed</button>
</div>


<div id="notes">
  <h5>***Note, instructiuni de prajire - asta cel mai bine ar fi sa il pui putin mai devreme si sa il scoti putin si mai devreme, dar fara graba ca mno, nu-i neaparat ok</h5>
</div>


<div id="queue_helper" class="container-fluid">
  <div id="t-prajite">
    <h5>Prajirile facute</h5>
    <table >
        <tr>
          <th>Sortiment</th>
          <th>Cantitate</th> 
        </tr>

        <% arrPrajite.forEach(function(prajite){%>
          <tr>
              <td> <%= prajite.sortiment %></td>
              <td><%= prajite.cantitate %></td>
          </tr>
          <% }); %>

        
      </table>
    </div>
      <h3>Prajire curenta</h3>
    <div id="t-urmatoare">
    <h5>Prajirile urmatoare</h5>

      <table >
        <tr>
          <th>Sortiment</th>
          <th>Cantitate</th> 
        </tr>
 
        <%  for(var x = 1; x < arrPrajeala.length; x++){ %>
          <tr>
            <td> <%= arrPrajeala[x].sortiment %></td>
            <td><%= arrPrajeala[x].cantitate %></td>
          </tr>
          <% } %>
     
      </table>
    </div>
</div>


<button class="btn btn-large" id="backButton" onclick="location.href= '/';"><i class="fas fa-home"></i></button>



<%- include("partials/footer.ejs") %>
