<%- include("partials/header.ejs") %>



<h1 id="titluPrajeli">Prajeli</h1>

<div id="modCozi" class="container">
    <button class="btn btn-large" id="adaugaPrajeala">Adauga</button>
  </div>


<div id="tabelPrajeli">
<table class="tabelPrajeli">
    <tr id="noHover">
      <th>Sortiment</th>
      <th>Cantitate</th> 
      <th>Due date</th>
      <th>Client</th>
    </tr>
    <tr>
      <% arrPrajeala.forEach(function(prajeala){%>
        <tr>
            <td> <%= prajeala.sortiment %></td>
            <td><%= prajeala.cantitate %></td>
            <td><%= prajeala.dueDate %></td>
            <td><%= prajeala.client %></td>

        </tr>
        <% }); %>
    </tr>      
  </table>


</div>


<div id="tabelPrajite">
  <table class="tabelPrajeli">
      <tr id="noHover">
        <th>Sortiment</th>
        <th>Cantitate</th> 
        <th>Due date</th>
        <th>Client</th>
        <th>Failed</th>
        <th>Prajitor</th>
        <th>Note</th>
      </tr>
      <tr>
        <% arrPrajite.forEach(function(prajite){%>
          <tr>
              <td> <%= prajite.sortiment %></td>
              <td><%= prajite.cantitate %></td>
              <td><%= prajite.date %></td>
              <td><%= prajite.client %></td>
              <td><%= prajite.failed %></td>
              <td><%= prajite.prajitor %></td>
              <td><%= prajite.note %></td>
          </tr>
          <% }); %>
      </tr>      
    </table>
  
  
  </div>

<button class="btn btn-large" id="backButton" onclick="location.href= '/';"><i class="fas fa-home"></i></button>



<div class="mdl" id="mdl-prajeli">
  <div id="prajeli">

      <i id="closeAdaugaPrajeli" class="far fa-times-circle"></i>

      <h3>Adauga detaliile pentru un sortiment nou</h3>

      <form action="/prajeli" method="POST" id="formAdaugaSortiment">
          <label for="numeSortiment">Nume Sortiment:</label>
      <input type="text" name="numeSortiment" id="numeSortiment">
        <label for="cantitate">Cantitate:</label>
      <input type="number" name="cantitate" id="cantitate">
        <label for="dueDate">Data limita:</label>
      <input type="date" name="dueDate" id="dueDate">
        <label for="client">Scop/Client:</label>
      <input type="text" name="client" id="client">
      
      <button type="submit" class="btn btn-lg" id="addCoffee">Adauga Prajeala Noua</button>
  </form>
  </div>
</div>


<script src="prajeala.js"></script>


<%- include("partials/footer.ejs") %>
